/****** General ***********/
*, ::before, ::after {
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    /* height: 100vh; */
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    padding-top: 60px;
    margin-bottom: 10px;
}

h2 {

    font-size: 18px;
    font-weight: 700;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
}

h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
}

a {
    text-decoration: none;
    color: #000000;
}

p {
    font-size: 16px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** En-tête ***********/
.entete {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
}

.logo {
    margin-top: 30px;
    width: 61.09px;
    height: 19px;
}

.hebergements-activites {
    padding: 0 100px;
    font-size: 16px;
    line-height: 18.78px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    /* align-items: center;  */
    gap: 40px;
    list-style-type: none;
}

.lien {
    display: inline-block;
    font-size: 16px;
    color: black;
    text-decoration: none;
    padding-top: 15px;
    border-top: solid 2px transparent;
}

.lien:hover {
    color: var(--main-color);
    border-top-color: var(--main-color);
    cursor: pointer;
}

/* Première section */

/* barre de recherche */

.search-container {
    display: flex;
    border-radius: 15px 0px 0px 15px;
    margin-top: 45px;
}

.search-container i {
    width: 20%;
    height: 100%;
    padding-bottom: 30px;
    padding-top: 10px;
    text-align: center;
}

.icone {
    display: flex;
    padding: 15px;
    background-color: #f2f2f2;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.icone i {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
}

/* .icone i::before {
    width: 100%;
    height: 100%;
    margin: auto;
} */

.search-container input[type="submit"] {
    padding: 15px 16px;
    gap: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    background: var(--main-color);
    font-size: 18px;
    color: white;
    font-weight: 700;
    text-align: center
}

#icone-location {
    color: #000000;
    background-color: var(--main-bg-color);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.placeholder-marseille {
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    line-height: 21px;
    text-align: center;
    margin-right: 0;
}

.input-submit {
    font-weight: 700;
    font-size: 18px;
    color: black;
    line-height: 21px;
    text-align: center;
}

#icone-loupe {
    display: none;
}

/* Les filtres */

.filtres-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 40px;
}

.filtres-container i {
    padding: 10px;
}

.filtres-container p {
    font-size: 17px;
    font-weight: 700;
    color: black;
    margin: 10px;
}

.bordures-filtre {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    padding-right: 20px;
}

.bordures-filtre:hover {
    background-color: #DEEBFF;
}

.infos {
    display: flex;
    /* justify-content: center; */
    /* align-items: flex-start; */
}

.icone-infos {
    padding-top: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    width: 100%;
}

.hebergements-and-populaires .hebergements {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.hebergements-and-populaires .populaires {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements à Marseille ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    width: 100%;
    height: 90%;
}

.hebergements-photo {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 33px;
    margin-bottom: 30px;
    width: 100%;
}

.hebergements-photo a {
    /* width: calc((100%-(2*30px))/3); */
    width: 31%;
}

.card-hebergements {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.hebergements-photo img {
    width: 100%;
    height: 124px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 67%;
    padding-left: 15px;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.card-hebergements .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5px;
}

.affichez-plus {
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    line-height: 21px;
    margin-top: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités Marseille ***********/

.activites-marseille {
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 33px;
    width: 100%;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.activites-cards .card-activites {
    width: 23%;
    padding: 0;
}

.activites-cards .card-title {
    padding: 0;
}

.activites-cards h4 {
    margin-left: 20px;
}

/****** Footer ***********/

.footer-container {
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 33% 33% 33%;
    margin-top: 120px;
    padding-left: 40px;
}

.article-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.article-footer a {
    display: inline-block;
    color: inherit;
    font-size: 16px;
    line-height: 2.3em;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
        justify-content: space-between;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
    }

    .populaires-cards article {
        display: flex;
        background-color: #ffff;
        border-radius: 25px;
        width: 30%;
    }

    .populaires-cards img {
        width: 35%;
        padding: 5px;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-marseille {
        margin-top: 400px;
    }

    .activites-marseille img {
        height: 200px;
        object-fit: cover;
    }

    .activites-cards {
        display: flex;
        align-items: stretch;
    }

    .card-activites {
        width: 100%;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .entete {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        margin-top: 25px;
    }

    .lien {
        border-top: none;
    }

    .lien:hover {
        color: var(--main-color);
        border-bottom-color: var(--main-color);
        cursor: pointer;
    }

    .premieresection {
        margin-top: -40px;
    }

    .premieresection p {
        margin: 0;
    }

    #icone-loupe {
        display: flex;
        color: #FFF;
    }

    .icone-recherche {
        display: flex;
    }

    .icone-recherche i {
        background-color: var(--main-color);
        width: 100%;
        padding: 15px;
        border-radius: 15px;
        color: #FFF;
    }

    .input-submit {
        display: none;
        color: #FFF;
        background-color: var(--main-color);
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        /* font-weight: 700;
        font-size: 18px;
        color: black;
        line-height: 21px;
        text-align: center; */
    }

    .filtres-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .filtres-container h3 {
        margin-top: -10px;
    }

    .filtres-container p {
        margin: 15px 0;
    }

    .filtres-container i {
        font-size: 1.8em;
    }

    .bordures-filtre {
        width: 80%;
    }

    .bordures-filtre:nth-child(1) {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .bordures-filtre:nth-child(2) {
        grid-column-start: 1;
        grid-row-start: 2;
        margin-top: -30px;
    }

    .bordures-filtre:nth-child(3) {
        grid-column-start: 2;
        grid-row-start: 2;
        margin-top: -30px;
    }

    .bordures-filtre:nth-child(4) {
        grid-column-start: 1;
        grid-row-start: 3;
        margin-top: -10px;
    }

    .bordures-filtre:nth-child(5) {
        grid-column-start: 2;
        grid-row-start: 3;
        margin-top: -10px;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        width: 100%;
        margin: 0;
    }

    .hebergements-and-populaires .populaires {
        border-radius: 0;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards article {
        width: 90%;
        height: 30%;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
        width: 100%;
    }

    .hebergements-photo {
        flex-direction: column;
        margin: 0;
    }

    .hebergements-photo a {
        width: 100%;
    }

    .hebergements-photo .card {
        width: 90%;
        height: 40%;
    }

    .card-hebergements img {
        width: 100%;
        object-fit: cover;
    }

    .activites-marseille {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        margin-top: 25px;
    }

    .activites-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .activites-cards .card-activites {
        width: 100%;
        height: 20%;
        background-color: white;
        border-radius: 20px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }

    .card-activites img {
        width: 100%;
        height: 141px;
        object-fit: cover;
    }

    .footer-container {
        margin-top: 100px;
        display: block;
    }

    .article-footer:nth-child(2) {
        margin-top: 20px;
    }

    .article-footer:nth-child(3) {
        margin-top: 20px;
    }
}